/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/

.uppercase {
  text-transform: uppercase;
}
.text-primary {
  color: hsl(54, 100%, 49%);
}
.text-accent {
  color: #9d1dd8;
}
.fs-700 {
  font-size: 3.5rem;
  line-height: 1;
}
.fs-600 {
  font-size: 2.8rem;
  line-height: 1;
}
.kanit {
  font-family: Kanit;
}
.chonbury {
  font-family: 'Chonburi';
}
.bg-primary {
  background-color: hsl(54, 100%, 49%);
}
.bg-accent {
  background-color: #9d1dd8;
}
.bg-primary-400 {
  background: hsl(263, 55%, 52%);
}
.bg-secondary-400 {
  background: hsl(217, 19%, 35%);
}
.bg-secondary-500 {
  background: hsl(183, 42%, 75%);
}
.purpleCard{
  background: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
}
.greyCard{
  background: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.turquoiseCard{
  background: hsl(183, 42%, 75%);
  color: hsl(217, 19%, 35%);
}
.whiteCard{
  background: hsl(0, 0%, 100%);
  color: hsl(0, 100%, 2%);
}

.bg-neutral-100 {
  background: hsl(0, 0%, 100%);
}
.text-neutral-100 {
  color: hsl(0, 0%, 100%);
}
.text-neutral-150 {
  color: hsl(0, 100%, 2%);
}
.text-secondary-400 {
  color: hsl(217, 19%, 35%);
}
.feature-grid {
  position: relative;
  z-index: -1;
  left: min(calc(1000px - 100vw) * -1, 0px);
  width: 69rem;
  align-self: center;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(8, 100px);
  transform-origin: left;
  transform: rotateY(-38deg);
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}
.feature-grid img {
  border-radius: 0.75em;
  overflow: hidden;
  transition: transform 350ms ease-in-out;
}
/*
.feature-grid img:hover,
.feature-grid img:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 1.5rem white;
}
*/
.feature-grid > :nth-child(1) {
  grid-area: 2 / 2 / 6 / 3;
  z-index: -1;
}
.feature-grid > :nth-child(2) {
  grid-area: 4 / 7;
  z-index: -1;
}
.feature-grid > :nth-child(3) {
  grid-area: 1 / 1 / 4 / 3;
  z-index: -1;
}
.feature-grid > :nth-child(4) {
  grid-area: 3 / 1 / -1 / 10;
}
.feature-grid > :nth-child(5) {
  grid-area: 1 / 6 / 3 / 8;
  column-span: span 2;
  width: 50%;
  height: 50%;
  z-index: -1;
  align-self: end;
}
.feature-grid > :nth-child(6) {
  grid-area: 1 / 5 / 3 / 8;
  /* align-self: start; */
  z-index: -6;
}
.feature-grid > :nth-child(7) {
  grid-area: 1 / 8;
}
.feature-grid > :nth-child(8) {
  grid-area: 2 / 2;
}
.feature-grid > :nth-child(9) {
  grid-area: 3 / 9;
  z-index: 4;
}
.feature-grid > :nth-child(10) {
  grid-area: 4 / 3 / 6 / 5;
}
.feature-grid > :nth-child(11) {
  grid-area: 5 / 7;
  /* place-self: auto; */
  align-self: stretch;
  /* align-content: flex-end; */
  z-index: -1;
}
.feature-grid > :nth-child(12) {
  grid-area: 3 / 4 / -6 / -4;
  /* place-self: auto; */
  align-self: baseline;
  /* align-content: flex-end; */
  z-index: -1;
}
.button {
  color: #000000;
  height: auto;
  position: absolute;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  line-height: 1rem;
  font-stretch: normal;
  border-radius: 100vh;
  text-decoration: none;
  background-color: hsl(54, 100%, 49%);
  padding: 15px;
  margin: 65px 15px;
  border: none;
  cursor: pointer;
  transition: color 0.4 linear;
  z-index: 13;
}
.button:focus {
  color: purple;
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #4b8181;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: 50vh;
  z-index: -1;
  transition: transform 0.1s ease-in-out;
}
.button:hover,
.button:focus-visible
 {
  color: white;
}
.button1::before {
  transform: scalex(0);
  color: white;
}
.button1:hover::before {
  transform: scalex(1);
}

.testimonialHidden {
  opacity: 0;
  transition: all 1s;
}

.logoutForm{
  margin-left: 10px;
}
.userGreeting{
  margin-left: 10px;
}
.testimonial {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem 217 19% 35% / 0.25;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.testimonial .name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
}
.testimonial .position {
  font-size: 0.6875rem;
  opacity: 0.6;
}
.testimonial > p:first-of-type {
  font-size: 1.25rem;
  line-height: 1.2;
}
.testimonial > p:last-of-type {
  opacity: 0.5;
}
.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: -53%;
  width: min(95%, 70rem);
  margin-inline: auto;
}
.wrapper {
  margin-top: 300px;
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.accordion {
  --_icon-margin: 1.5rem;
  --_button-size: 3rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 5rem;
  contain: content;
}
.accordion-content {
  display: flex;
  flex-direction: column;
}
.accordion * {
  margin: 0;
}
.accordion-panel {
  position: relative;
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}
@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
  .accordion-panel:has([aria-expanded="true"]) p {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
  .accordion-panel:has([aria-expanded="true"]) .user-name-input {
    transition: transform 500ms 500ms, opacity 500ms 500ms;
  }
}
.accordion-panel:nth-child(1) {
  --_panel-color: hsla(56, 82%, 43%, 0.25);
  
}
.accordion-panel:nth-child(3) {
  --_panel-color: hsla(187, 77%, 45%, 0.25);
}
.accordion-panel:nth-child(2) {
  --_panel-color: hsla(286, 86%, 39%, 0.25);
}
.accordion-panel:nth-child(1) .session-check-button {
  background-color: hsla(56, 82%, 43%, 0.45);
  border: 1px  solid  grey;
  border-radius: 11px;
  height: 30px;
  width: 140px;
  color: white;
  flex-shrink: 0;
  cursor: pointer;
}
.accordion-panel:nth-child(3) .session-check-button {
  background-color: hsla(187, 77%, 45%, 0.75);
  border: 1px  solid   grey;
  border-radius: 11px;
  height: 30px;
  width: 140px;
  flex-shrink: 0;
  color: white;
  cursor: pointer;
}

.accordion-panel:nth-child(2) .session-check-button {
  background-color: hsla(286, 86%, 39%, 0.75);
  color: white;
  border: 1px  solid   grey;
  border-radius: 11px;
  height: 30px;
  width: 140px;
  flex-shrink: 0;
  cursor: pointer;
}

/* .session-time-join {
  display: grid;
  grid-template-columns: 1fr 1fr 65px;
  grid-auto-flow: dense;
  margin-left: calc(var(--_button-size) + var(--_panel-gap) + var(--_icon-margin));
  margin-top: 5px;
  gap:10px;
  display:none;
 

} */
/* .session-join-button{
  background-color: white;
  border: none;
  align-self: baseline;
  cursor: pointer;
} */
.user-name-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-left: calc(var(--_button-size) + var(--_panel-gap) + var(--_icon-margin));
  margin-top: 5px;
}
.loginInput{
  width: 150px;
  height: 25px;
}
.loginInputCheckBox{
  width: 10px;
}
input {
  font-family: system-ui;
  font-size: 1.125rem;
  width: 0;
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0);
}
.accordion-trigger {
  outline: 0;
}
.accordion-panel:focus-within {
  outline: 3px solid var(--_panel-color);
  outline-offset: 5px;
  outline-style: ridge;
}
.accordion-content > p {
  transform: translateY(2rem);
  opacity: 0;
  margin-left: calc(var(--_button-size) + var(--_panel-gap) + var(--_icon-margin));
}
.accordion-content .user-name-input {
  transform: translateY(2rem);
  opacity: 0;
}
.accordion-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: filter 500ms;
  pointer-events: none;
  user-select: none;
}
.accordion-trigger {
  display: flex;
  color: white;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;
}
.accordion-icon {
  background: var(--_panel-color);
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 50%;
  z-index: 10;
  margin-left: var(--_icon-margin);
  pointer-events: none;
  user-select: none;
}



.accordion-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
}
.accordion-panel:has([aria-expanded="true"]) p {
  transform: translateY(0);
  opacity: 1;
}
.accordion-panel:has([aria-expanded="true"]) .user-name-input {
  transform: translateY(0);
  opacity: 1;
}
.accordion-panel:has([aria-expanded="true"]) .accordion-image {
  filter: brightness(0.5);
}
.accordion-title {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
}
/*
.accordion-title::after{
    position: absolute;
    content: "";
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    height:  var(--_button-size);
    width: calc(100% + (var(--_button-size))*2);
    background: hsl(0 0%  0%  / 0.4);
    z-index: -1;
    border-radius: 100vw;
    

}
*/


@media (min-width:1920px){
  nav{
   left:5px;
   width: 95%;
  }
}
@media (min-width:2100px){
  nav{
    left:325px;
    width: 70%;
   }
 }
@media (min-width: 55.999em) {
  .accordion-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 2));
    height: var(--_button-size);
    background: hsla(0, 0%, 0%, 0.5);
    z-index: -1;
    border-radius: 100vw;
  }

}
@media (max-width: 1201px) {
  nav{
    left:-30px;
    width: 100%;
   }
}


@media (max-width: 900px) {
  .accordion {
    flex-direction: column;
    height: 30rem;
  
  }
 
  nav{
    left:-15px;
    width: 100%;
   }

}
@media (max-width: 550px) {
  nav{
    left:-17px;
    width: 109%;
   }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Селекторы 1 */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
 
}
/* Селекторы 2 */
/* A elements that don't have a class get default styles */
/*
a:not([class]) {
  text-decoration-skip-ink: auto;
}*/
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

body {

  position: relative;
  overflow-x: hidden;
  background: black;
  font-size: var(1.25rem);
  color: white;
  /*
  padding: 10vw 0;
  */
  font-family: Kantumruy;
  font-size: 18px;
}
/* Селекторы 3  c колонкой и hyphens*/
details[class*="mac"] {
  background-color: #9d1dd8;
  border-radius: 100vh;
  max-width: 45ch;
  z-index: 15;
  column-count: 2;
  column-gap: 1rem;
  hyphens: auto;
}

#glow-on-hover{

  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;
    border-radius: 10px;
  }
  &:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:active{
    color: azure;
  }
  
  
  &:hover:before{
    filter: blur(20px);
    opacity: 1;
  }
  }
  #glow-on-hover-user{

    &:before{
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: 0px;
      left:0px;
       background-size: 100%; 
      z-index: -1;
      filter: blur(2px);
      width: 100px;
      height: 30px;
      animation: animate 20s linear infinite;
      opacity: 0;
      transition:  1s ease-in-out;
      border-radius: 10px;
    }
    &:after{
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    &:active{
      color: azure;
    }
    
    
    &:hover:before{
      filter: blur(20px);
      opacity: 1;
    }
    }
  
.container {
  padding: 0rem 2rem;
  max-width: 115rem;
  margin: 0 auto;
}
.logOutButton{
  border-radius: 4px;
  border: 1px solid orangered;
  background: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;

}
.containerTwo {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.grid--columns {
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
/* featured grid */
.feature-grid-container {
  perspective: 178rem;
  position: relative;
  max-width: 95vw;
  overflow: hidden;
}
.feature-grid-text {
  padding: 1rem;
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.8) 75%, hsla(255, 50%, 50%, 0));
}
.snowboarder {
  position: relative;
  left: 0;
  bottom: 0;
}
.cloud {
  position: relative;
  animation-delay: 800ms;
  animation: moveRight 19s infinite alternate-reverse linear;
}
.cloudbig {
  position: relative;
  animation-delay: 1000ms;
  animation: moveRight 22s infinite alternate-reverse linear;
}
.treesmall {
  filter: invert(90%) sepia(0%) saturate(895%) hue-rotate(134deg) brightness(94%) contrast(104%);
}
.sunoffwhite {
  filter: invert(48%) sepia(100%) saturate(2211%) hue-rotate(161deg) brightness(94%) contrast(101%);
}
.sunbluish {
  filter: invert(77%) sepia(33%) saturate(2462%) hue-rotate(180deg) brightness(105%) contrast(108%);
}
/*
@keyframes moveSnowboard{
from{transform:rotate3d(1, 1, 1, 0deg);}
50%{transform:rotate3d(1, 1, 1, 25deg);} 
to{transform:rotate3d(1, 1, 1, -25deg);}   
}
*/
.show {
  opacity: 1;
}
@keyframes moveRight {
  100% {
    transform: translateX(-300px);
  }
}
h1,
h2,
h3 {
  font-weight: 600;
}
.Visitsmall {
  display: none;
}
.flextwo {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: center;
}
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}
header{

  top:0;
  left:0;
  margin-left: 25px;
  height:100px;
  width: 100%;
  padding: 20px 50px;

  z-index: 10;
  align-items: center;
  transition: height .52s ease;
}
.loginFormDiv{
  margin-top: 10px;
  color: black;


  background-position: -130px ;
  position: relative;
  width: 400px;
  height: 440px;

  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease, height .2s ease;
  overflow: hidden;
  transform: scale(0);
}
.loginFormDiv .iconCloseLogin{
  position: absolute;
  top:5px;
  left: 5px;
  width: 35px;
  height: 35px;
  background: #162938;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh;
  z-index: 11;
  cursor: pointer;
  transition: transform 1s ease;
  transform: scale(0.8);
}
.loginFormDiv .iconCloseLogin:hover,
.loginFormDiv .iconCloseLogin:focus-visible
{
  transform: scale(1.1);
}

.loginFormDiv.active-popup{
  transform: scale(1);
}
.loginFormDiv .formBox{
  width: 100%;
  padding: 40px 40px 40px 40px;
}
.loginFormDiv .formBox.login{
transition: transform .18s ease;
transform: translateX(0);

}
.loginFormDiv.active .formBox.login{
  transition: none;
  transform: translateX(-400px);

}
.loginFormDiv .formBox.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.loginFormDiv.active .formBox.register{
  transition: transform .18s ease;
  transform: translateX(0);

}

.loginFormDiv.active{
  height: 520px;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
 
}
header.header-popup{
  height: auto;
}

.formBox h2{

  font-size: 2em;
  text-align: center;
  color:#162938;
}
.inputBox{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin:30px 0;
}
.inputBox label{
  position: absolute;;
  top:50%;
  left: 5px;
  /* transform: translateY(-50%); */
  font-size: 1em;
  color:#162938;
  font-weight: 500;
  pointer-events: none;
  transition: .8s;
}
.inputBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  font-size: 1em;
  color:#162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.inputBox input:focus~label,
.inputBox input:valid~label{
top:-5px;
}
.inputBox .icon{

position: absolute;
right: 8px;
font-size: 1.3em;
color:#162938;
line-height: 57px;
}
.logo{
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}
.avatar{
  width: 45px;
  height: 45px;
  border-radius: 100vw;
  border: 2px solid plum;
}
nav{
 
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
}
.navUserLogout{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:1rem;
  margin-right: 10px;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.rememberForgot{
  font-size: .9em;
  font-weight: 500;
  color:#162938;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  
}
.rememberForgot label input{
  accent-color: #162938;
}
.rememberForgot a{
  color:#162938;
  text-decoration: none;
}
.rememberForgot a:hover,
.rememberForgot a:focus-visible
{

  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;

}
.loginRegister{
  font-size: .9em;
  color:#162938;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.loginRegister p a{
  color:#162938;
  text-decoration: none;
  font-weight: 600;
}
.loginRegister p a:hover{
  text-decoration: underline;
}
.buttonLogin{
  color:white;
  width: 130px;
  height: 40px;
  background: transparent;
  border: 2px solid white; 
  border-radius: 6px;
  cursor: pointer;
  font-size: .9em;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  text-align: center;
  padding-top: 3px;
}
.buttonLogin:hover,
.buttonLogin:focus-visible
{
  background:white ;
  color: #162938

}

@media (min-width: 70em) {
  .testimonial-grid {
     grid-template-columns: repeat(4, 1fr);
     grid-auto-flow: dense; 
   
  
  
    
  }
  .Visitsmall {
    display: none;
  }
  .testimonial:last-child {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 373px;
  }
  .grid-col-span-2 {
    grid-column: span 2;
  }
 
}
@media (min-width: 2000px){
  .testimonial:last-child {
  
    margin-top: 700px;
  }
  .testimonial-grid{
    margin-top: -45%;
  }
}
@media (max-width: 1119px) {
  .wrapper {
    margin-top: 50px;
  }
  .testimonial-grid {
    margin-top: 10px;
  }
 
}
@media (min-width: 1120px) {
  
  .testimonial-grid:hover .testimonialHover {
    opacity: 0.1;
    
  }
  
  
}
@media (max-width: 1000px) {
  .flextwo {
    display: none;
  }
  .Visitsmall {
    display: inline-block;
  }
  .Visitbig {
    display: none;
  }
  .wrapper {
    margin-top: 50px;
  }
  .selected-item-grid{
    max-width: 350px;
   }
}

@media (max-width: 687px) {
  .accordion-panel:has([aria-expanded="true"]) p {
  font-size: .7em;
}
 .selected-item-grid{
  max-width: 300px;
 }
 header{
  margin:auto;
 }
 .feature-grid-text {
  font-size: .9em;
  padding: 5px;
  
 }
 .feature-grid-text h2{
  font-size: 40px;
 }
 .feature-grid-text .fs-700{
  font-size: 3.35rem;
 }
 

 }
 .accordion-panel  input{
  font-size: .6em;
 }
 /* .session-time-join{
  font-size: .6em;
  grid-template-columns: 1fr 1fr 45px; 
 } */

@media (max-width:390px){
  .container{
    overflow-x: hidden;
  }
  .feature-grid-text .fs-700{
    font-size: 2.3rem;
  }
  .buttonLogin{
    z-index: 10;
  }
  .containerTwo .page-title {
   font-size: 3rem;
  }
  .page-header{
   padding: 0;
   margin: 0;
  }
  .feature-grid{
    width: 60rem;
    left: min(calc(766px - 100vw) * -1, 0px);
    transform: rotateY(55deg);
  }
  .feature-grid-container{
    perspective: 512rem;
  }
  nav{
    width: 113%;
    left: -17px;
    /* justify-content: space-around; */


  }

  
  
}

.userReviewInput{
 margin: 10px 15px 25px 15px;
display: flex;
flex-direction: column-reverse;
}
.userReviewInputText{
  width: 250px;
  height: 170px;
  margin-top: 10px;
  border-radius: 6px;
  flex:none;
  /* min-width: 250px;
  max-width:250px */



}
.postReviewText{
  margin-top: 15px;
  font-size: 1rem;
  margin-left: 15px;
  margin-bottom: 10px;
}

.btnReview{
width: 250px;
height: 45px;
color:black;
margin-bottom: 15px;
position: relative;
margin-left: 15px;
border-radius: 10px;
text-align: center;
cursor: pointer;

&:hover{
  background-color: black;
  color: whitesmoke;
}
&:before{
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: 0px;
  left:0px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 250px;
  height: 42px;
  animation: animate 20s linear infinite;
  opacity: 0;
  transition:  1s ease-in-out;
  border-radius: 10px;
}
&:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
&:active{
  color: azure;
}


&:hover:before{
  filter: blur(20px);
  opacity: 1;

}
&:focus-visible::before{
  filter: blur(20px);
  opacity: 1;

}
}
.btnEditReview{
  width: 250px;
  height: 45px;
  color:black;
  
  position: relative;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  
  &:hover{
    background-color: black;
    color: whitesmoke;
  }
  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 0px;
    left:0px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 250px;
    height: 42px;
    animation: animate 20s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;
    border-radius: 10px;
  }
  &:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:active{
    color: azure;
  }
  
  
  &:hover:before{
    filter: blur(20px);
    opacity: 1;
  
  }
  &:focus-visible::before{
    filter: blur(20px);
    opacity: 1;
  
  }
  }
.backvideo {
  position: relative;
  margin-top: 10%;
  width: 100%;
  object-fit: fill;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}
.mac-book-air1-text02 {
  position: absolute;
  background-color: #9d1dd8;
  border-radius: 100vh;
  color: white;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  padding: 6px 13px;
  margin: 14px;
  font-stretch: normal;
  text-decoration: none;
  border: none;
 
}

.page-header {
  margin-top: 5rem;
  padding-block: 5rem;
  margin-block-end: 5rem;
  background-image: url("https://marvel-b1-cdn.bc0a.com/f00000000104050/www.monsterenergy.com/media/uploads_image/2018/01/17/auto/900/710db47864947072c0df281ba97fd8eb.jpg?mod=v1_6e250fdb516928b399c4d12fe446e88d"),
    linear-gradient(-25deg, rgb(0 0 0 / 0), rgb(0 0 0 / 1) 50%);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  color: white;
}

.page-title {
  font-size: 4rem;
  margin-block: 1rem ;
  margin-left: 1rem;
 
}
.page-subtitle{
  font-size: 2rem;
  margin-block: 1rem ;
  margin-left: 1rem;
}

.section-title {
  margin-block: 2rem ;
  margin-left: 3rem;
}

/* media scroller */
.media-scroller,
.media-group
{
display: grid;
gap: 0.25rem;
grid-auto-flow: column;

}
.shopItemFull{
  position: relative;

  /* z-index: 1;
  background: rgba(255,255,255, 0.2);
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5); */
  margin-top: 75px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  height: 450px;
  max-width: 750px;
  /* backdrop-filter: blur(10px) ; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items:left; */
  font-size: 12px;
  /* border-top: 1px solid rgba(255,255,255, 0.5); */

  @media (max-width:734px){
    flex-direction: column;
    margin-top: 220px;
    margin-bottom: 100px;
  
  }

}
/* .shopItemButtonContainer{
  width: 100%;
  max-width: 720px;
  margin: 15px auto;


  

} */
.shopItemButtonContainer{
margin-top: 25px;
}
.shopItemInfoSection{
  width: 100%;
  max-width: 755px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;

}
.shopItemInfoSection p{
  margin-top: 25px;
  padding-left: 5px;
}
.sizingGrid{
  width: 100%;
  gap:2rem;
  grid-auto-flow: dense;
  margin: 15px auto;
  display: grid;
  padding-left: 5px;
  grid-template-columns: 500px 1fr;
  @media(max-width:629px){
   
    font-size: .9em;
    grid-template-columns: 300px 1fr;
  }
}
.sizingGrid h2{
  @media(max-width:550px){
    font-size: 1.4em;
  }
}
.sizingGrid img{
  min-width: 75px;
  @media(max-width:629px){
   align-self: flex-end;
  }
}
.productDetailsButton{
background: black;
color: white;
border: none;
cursor: pointer;
position: relative;
/* text-decoration: ; */
 &:after{
  content: "";
  margin: auto;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: purple;
  transition: all .3s ease-out;
  box-shadow: 0 1px 3px var(--primary-shadow),0 1px 2px var(--primary-shadow);
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .25s cubic-bezier(.215,.61,.355,1);
 }
 &:hover:after{
  transform: scaleX(1);
  transform-origin: 0px 50%;
 }
}
.productSizingButton{
background: black;
color: white;
border: none;
cursor: pointer;
background: black;
color: white;
border: none;
cursor: pointer;
position: relative;
 &:after{
  content: "";
  margin: auto;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: purple;
  transition: all .3s ease-out;
  box-shadow: 0 1px 3px var(--primary-shadow),0 1px 2px var(--primary-shadow);
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .25s cubic-bezier(.215,.61,.355,1);
 }
 &:hover:after{
  transform: scaleX(1);
  transform-origin: 0px 50%;
 }
}
.shopItemInfoImageGrid{
display: grid;
grid-auto-flow: dense;
/* grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr; */
grid-template-columns: repeat(auto-fit, minmax(min(100%,350px), 1fr));
max-width: 950px;
margin: 35px auto;
gap: 2rem;
padding-left: 20px;
padding-right: 20px;


}
.shopItemInfoImageGrid img{
  border-radius: 20px;
}
.shopItemGridInfoOne{
background-color:#1F2529 ;
border-radius: 20px;
text-align: left;
padding: 15px 10px 0 15px;
font-family:Montserrat, sans-serif;
font-weight: 200;
display: grid;
 @media  (max-width: 788px){
  height:450px ;

}
  


}
.shopItemGridInfoTwo{
  color: black;
  background-color:#f2f5fa;
  border-radius: 20px;
  text-align: left;
  padding: 15px 10px 0 15px;
  font-family:Montserrat, sans-serif;
  font-weight: 200;
  display: grid;
  @media  (max-width: 788px){
    grid-row: 4;
    height:450px ;
   

  }
    
}

.navigationShopItemFullPage{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 2px purple;
  display: flex;
  justify-content: left;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.imageContainerFull{
  position: relative;
  background: black;
  align-self: flex-start;

  border-radius: 12px;
  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;

    border-radius: 12px;
  }

  &:active{
    color: azure;
  }


  &:hover::before{
    filter: blur(20px);

   
    opacity: 1;
  }
}

.shopItemImageFull{
  position: relative;
  z-index: 2;
  margin-left: 5px;
  max-width: 450px;
  min-width: 350px;
  height: 450px;
  border-radius: 8px;
  transition: 1s ease-in-out;
  &:hover{
    transform: scale(1.03);
  }
  @media (max-width: 500px){
    margin: auto;

  }
}
.shopItemInfoContainerFull{

  display: flex;
  flex-direction: column;
  gap:.8rem;
  margin-left: 8px;
  margin-right: 8px;
  /* align-self: flex-start; */
  color:white;
  font-size:14px;
  font-weight: 600;
  justify-content: space-between;


}
.shopItemInfoContainerFull h1{
  font-weight: 400;
  font-family: Montserrat, sans-serif;;
}
.shopItemInfoContainerFull p{
  font-weight: 200;
  font-family: Montserrat, sans-serif;;
}
.fullShopItemContainer{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;


}
.selected-item-container
{

margin-top:150px ;
max-width: 459px;
width: 90%;
/*margin: auto;*/
margin-top: 100px;
/*height: 650px;*/
overflow: hidden;
/*display: flex; */
/*flex-wrap: wrap;*/
/*gap: 1rem;*/
/*grid-auto-flow: column;
grid-template-columns:1fr;
grid-template-rows: 1fr;*/
padding: 0 3rem;
}

.selected-item-button{
  background-color: hsla(286, 86%, 39%, 0.75);
  border: 2px  solid   black;
  
  height: 40px;
  align-self: center;
  text-transform:uppercase;
  flex-shrink: 0;
  cursor: pointer;
  color:white;

}


.seleected-item-image > img
{
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.selected-item-grid{
  display:none;
}
.selected-item-grid > div {
  flex: 1 1 150px;
  justify-content: left;
  align-content: center;
}
.selected-item-rating-container{
display: flex;
margin-bottom: 15px;

}
.selected-item-available-container{
display: flex;
align-items: center;
justify-content: left;
font-size: 1.1em;
text-decoration:solid;

}
.selected-item-available-container > img {
margin-right: 10px;
height: 15px;

}
@media(max-width:500px){
.media-scroller,
.media-group
{
display: grid;
gap: 0.25rem;
grid-auto-flow: row;

}

.previous
{
  position: absolute;

}
.selected-item-container
{


width: 100%;
/*margin: auto;*/

height: 650px;
overflow: hidden;
/*display: flex; */
/*flex-wrap: wrap;*/
/*gap: 1rem;*/
/*grid-auto-flow: column;
grid-template-columns:1fr;
grid-template-rows: 1fr;*/
padding: 0 1rem;
}

.selected-item-button{
  background-color: hsla(286, 86%, 39%, 0.75);
  border: 2px  solid   black;
  
  height: 40px;
  align-self: center;
  text-transform:uppercase;
  flex-shrink: 0;
  cursor: pointer;
  color:white;

}


.seleected-item-image > img
{
  width: 100%;
  height: 100%;
  object-fit: cover;


}


.selected-item-grid > div {
  flex: 1 1 150px;
  justify-content: left;
  align-content: center;
}
.selected-item-rating-container{
display: flex;
margin-bottom: 15px;

}
.selected-item-available-container{
display: flex;
align-items: center;
justify-content: left;
font-size: 1.1em;
text-decoration:solid;

}
.selected-item-available-container > img {
margin-right: 10px;
height: 15px;

}
.selected-item-grid{
  
margin: auto;
}
}
.media-group
{
  grid-auto-columns: 1fr;
}

.media-scroller
{
grid-auto-columns: 100%;
overflow-x: hidden;
scroll-behavior: smooth;  
padding:0 3rem;
scroll-padding-inline: 3rem;
margin-bottom: 75px;
}

.media-element
{
border-radius: 0.25rem;
overflow: hidden;

}
.product-image-container-media{
  position: relative;
}
.product-image-containe-media:hover,
.product-image-container-media:focus-visible
{
  border: 2px solid purple;

}
.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}

.product-image-media:hover{
  transform: scale(1.03);
 
}

.product-image-media 
{

width: 100%;
height: 100%;
object-fit: cover;
transition: 1s all ease-in-out;


}
.product-container-media{

  display: flex;
  flex-direction: column;

  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
 
  border-top: 1px solid rgba(255,255,255, 0.5);
}
.product-rating-container-media{
  display: flex;
  align-items: center;
  gap:.5rem;
}
.product-price-media{
  color: rgb(22, 233, 152);
}
.product-desc-container-media{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 5px 5px 5px;
  gap:.4rem;
  background-color: rgb(4, 37, 36);
  border-radius: 8px;
  position: relative;
  z-index: 1;
  
}

 .added-to-cart{
 position: absolute;
 top: 5px;
 left: 10px;
 z-index: 5;
 color: black;
 display: flex;
 align-items: center;
 gap:.5rem
} 
.add-to-cart-button{
  position: relative;
  color: #28aae1;
  background: whitesmoke;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  width: 100%;
  cursor: pointer;
  align-self: center;

  &:hover{
    background-color: black;

  }
  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -4x;
    left:-3px;
    background-size: 200%;
    z-index:-1;
    filter: blur(5px);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    animation: animate 12s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;
    border-radius: 10px;
  }
  &:after{
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:active{
    color: azure;
  }
  
  
  &:hover:before{
    filter: blur(20px);
    opacity: 1;
  }
}
.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);

}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
  
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: -5px;
  left: 17px;
  
  width: 26px;
  text-align: center;
}
.next,
.previous
{
  display: flex;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background:  rgb(0 0 0 / 0.3);
  opacity: 0;
}
.place-order-button{
  cursor: pointer;
  position: relative;
  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;
    border-radius: 10px;
  }
  &:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:active{
    color: azure;
  }
  
  &:hover{
    background-color: #000000;
    color: whitesmoke;
  }
  &:hover:before{
    filter: blur(20px);

    opacity: 1;
  }
}
 .media-group:hover :where(.next, .previous),
 .media-group:focus-visible :where(.next, .previous)  
{
opacity:1;

}

 :where(.next, .previous):hover,
 :where(.next, .previous):focus-visible 
{
background: rgb(0 0 0 / 0.3);
} 

:where(.next, .previous) > svg 
{
  transform: scale(1);
  transition: transform 275ms linear;
}

:where(.next, .previous):hover > svg 
{
transform: scale(1.5);
}  



.previous
{
  left: 50px;
  align-self: center;
}

.next
{
  right: 50px;

align-self: center;
}

.media-container
{
position: relative;
}



/* navigaton indicators */
.navigation-indicators
{
position: absolute;
display: flex;
gap: 3px;
top: -2rem;
right: 2rem;
opacity: 0;
}


/* .media-scroller:has(:target:not(:first-child)) 
.media-group:first-of-type 
.next
{
display:none;
} */


.navigation-indicators > *
{
width: 1rem;
height: 3px;
background: white;
opacity: 0.5;
}

/* .media-scroller:has(.media-group:target)
  .navigation-indicators
  > *:nth-child(1) {
  opacity: 0.5;
}

.media-group:nth-child(1):target ~ .navigation-indicators
> *:nth-child(1)
{

opacity: 1;
}
.media-group:nth-child(2):target ~ .navigation-indicators
> *:nth-child(2)
{

opacity: 1;
}
.media-group:nth-child(3):target ~ .navigation-indicators
> *:nth-child(3)
{

opacity: 1;
}
.media-group:nth-child(4):target ~ .navigation-indicators
> *:nth-child(4)
{

opacity: 1;
} */
.media-scroller:hover .navigation-indicators,
.media-scroller:focus-visible .navigation-indicators
{
opacity:1;
}
.navIndicatorSelected{
  opacity: 1;
}




/*

LoginPage css

*/



.loginInputLogin{
width: 150px;
height: 25px;
}
.loginInputCheckBoxLogin{
width: 10px;
}
.loginFormDivLogin{
margin-top: 15px;
margin: auto;
position: relative;
width: 400px;
height: 440px;
border: 2px solid rgba(14, 12, 12, 0.5);
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255,255,255, 0.2);
backdrop-filter: blur(10px) ;
-webkit-backdrop-filter: blur(10px);
box-shadow: 10px 10px 30px rgba(0,0,0, 0.2);

}
.loginFormDivLogin .formBoxLogin{
margin: auto;
width: 100%;
padding: 40px 40px 40px 40px;
}
.loginFormDivLogin .formBoxLogin.login{
transition: transform .18s ease;
transform: translateX(0);

}
.loginFormDivLogin.active .formBoxLogin.login{
transition: none;
transform: translateX(-400px);

}
.loginFormDivLogin.active{
height: 520px;
background-clip: content-box;
background-repeat: no-repeat;
background-size: cover;

}
.formBoxLogin h2{

font-size: 2em;
text-align: center;
color:#162938;
}
.inputBoxLogin{
position: relative;
width: 100%;
height: 50px;
border-bottom: 2px solid #162938;
margin:30px 0;
}
.inputBoxLogin label{
position: absolute;;
top:50%;
left: 5px;
font-size: 1em;
transform: translateY(-50%);
color:#162938;
font-weight: 500;
pointer-events: none;
transition: 1s;
}
.inputBoxLogin input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color:#162938;
font-weight: 600;
padding: 0 35px 0 5px;
}
/* .inputBoxLogin:hover label

{
  transform: translateY(-95%);
}
.inputBoxLogin .loginInputLogin:focus~label{
  transform: translateY(-95%);
}
.inputBoxLogin:hover input{
  transform: translateY(+80%);
}  */
.inputBoxLogin input:focus~label,
.inputBoxLogin input:valid~label
{
top:-5px;

}

.inputBoxLogin .iconLogin{

position: absolute;
right: 2px;
font-size: 1.8em;
color:black;
line-height: 57px;

}
.logoLogin{
filter: invert(100%);
-webkit-filter: invert(100%);
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.navigationLogin{

display: flex;
position: relative;
justify-content: start;
align-items: center;
font-size: 1.1em;
text-decoration: none;
font-weight: 500;
margin-bottom: 20px;
}
.rememberForgotLogin{
font-size: .9em;
font-weight: 500;
color:#162938;
margin: -15px 0 15px;
display: flex;
justify-content: space-between;

}
.rememberForgotLogin label input{
accent-color: #162938;
}
.rememberForgotLogin a{
color:#162938;
text-decoration: none;
}
.rememberForgotLogin a:hover{

text-decoration: underline;
}
.btnLogin{
width: 100%;
height: 45px;
background: #162938;
border-radius: 6px;
color: white;
cursor: pointer;
font-size: 1em;
font-weight: 500;

}
.loginRegisterLogin{
font-size: .9em;
color:#162938;
text-align: center;
font-weight: 500;
margin-top: 10px;
}
.errorDivLogin{
color:#162938
}
.loginRegisterLogin p a{
color:#162938;
text-decoration: none;
font-weight: 600;
}
.loginRegisterLogin p a:hover{
text-decoration: underline;
}
.buttonLoginLogin{
color:white;
width: 130px;
height: 40px;
background: transparent;
border: 2px solid white; 
border-radius: 6px;
cursor: pointer;
font-size: .9em;
font-weight: 500;
margin-left: 25px;
}
.buttonLoginLogin:hover{
background:white ;
color: #162938

}
@media  (max-width:480px){
  .navigationLogin{
    margin-left: 30px;
  }
}
@media  (min-width:390px) {
.loginFormDivLogin{
  margin-top: 180px;
  width: 450px;
  height: 520px;
  background-repeat: no-repeat;
}

}
.LoginPageContainer{
  
  background-image: url("../public/images/Jibbing.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-size: cover;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}



/*
RegisterPage css
*/


.loginInputRegister{
  width: 150px;
  height: 25px;
}
.loginInputCheckBoxRegister{
  width: 10px;
}
.RegisterPageContainer {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-size: cover;
  position: relative;
  overflow-x: hidden;


  background-image: url("../public/images/snowboard-tricks-to-learn-now-press-3.webp") ;
  /*

  padding: 10vw 0;
  */
  font-family: Kantumruy;
  font-size: 18px;
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.UserPageContainer {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-size: cover;
  position: relative;
  overflow-x: hidden;


  background-image: url("../public/images/315f9a84c2dcb27dba4ad9842aa12ac0.jpg") ;
  /*

  padding: 10vw 0;
  */
  font-family: Kantumruy;
  font-size: 18px;
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}
.UserEditPageContainer {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-size: cover;
  position: relative;
  overflow-x: hidden;


  background-image: url("../public/images/315f9a84c2dcb27dba4ad9842aa12ac0.jpg") ;
  /*

  padding: 10vw 0;
  */
  font-family: Kantumruy;
  font-size: 18px;
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.loginFormDivRegister{
  margin: auto;
  margin-top: 10px;
  color: black;
  position: relative;
  width: 400px;
  height: 440px;

  border: 2px solid rgba(24, 22, 22, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease, height .2s ease;
  overflow: hidden;
  
 
  background: rgba(255,255,255, 0.2);
  backdrop-filter: blur(10px) ;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 10px 10px 30px rgba(0,0,0, 0.2);
}

.userPageLink{
  position: relative;
  color: white;
  padding: 3px;
}
.editProfileLink{
  &:hover{
    color:yellow
  }
  color: whitesmoke;
  font-size: .9rem;
}
.navigation{
  position: relative;
  z-index: 1;
}
.userPageLink:focus-visible,
.userPageLink:hover
{
 color:hsl(54, 100%, 49%);

 position: relative;
 z-index: 10;
}
.loginFormDivRegister .formBoxRegister{
  width: 100%;
  padding: 40px 40px 40px 40px;
}


.loginFormDivRegister.active{
  height: 520px;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.formBoxRegister h2{

font-size: 2em;
text-align: center;
color:#162938;
}
.inputBoxRegister{
position: relative;
width: 100%;
height: 50px;
border-bottom: 2px solid #162938;
margin:30px 0;
}
.inputBoxRegister label{
position: absolute;;
top:50%;
left: 5px;
transform: translateY(-50%);
font-size: 1em;
color:#162938;
font-weight: 500;
pointer-events: none;
transition: .8s;
}
.inputBoxRegister input{
width: 100%;
height: 100%;
background: transparent;
border:none;
outline: none;
font-size: 1em;
color:#162938;
font-weight: 600;
padding: 0 35px 0 5px;
}
.inputBoxRegister input:focus~label,
.inputBoxRegister input:valid~label
{
top:-5px;
}
.inputBoxRegister .iconRegister{

position: absolute;
right: 2px;
font-size: 1.8em;
color:black;
line-height: 27px;

}
.logoRegister{
filter: invert(100%);
-webkit-filter: invert(100%);
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.navigationRegister{
margin-bottom: 20px;
display: flex;
position: relative;
justify-content: start;
align-items: center;
font-size: 1.1em;
text-decoration: none;
font-weight: 500;
}
.navigationUserPage{
margin: auto;
display: flex;
position: relative;
justify-content: start;
align-items: center;
font-size: 1.1em;
text-decoration: none;
font-weight: 500;
width: 90vw;
z-index: 10;

}
.navigationEditUserPage{
  margin: auto;
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
  width: 90vw;
  }
.btnRegister{
  width: 100%;
  height: 45px;
  background: #162938;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;

}
.loginRegisterRegister{
  font-size: .9em;
  color:#162938;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.loginRegisterRegister p a{
  color:#162938;
  text-decoration: none;
  font-weight: 600;
}
.loginRegisterRegister p a:hover{
  text-decoration: underline;
}
@media  (min-width:390px) {
  .loginFormDivRegister{
    margin-top: 220px;
    width: 450px;
    height: 520px;
    background-repeat: no-repeat;
  }
 
}
.session-check-button{
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  font-size: .8em;
  &:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -1px;
    left:-1px;
   
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: 142px;
    height: 32px;
    animation: animate 20s linear infinite;
    opacity: 0;
    transition:  1s ease-in-out;
    border-radius: 10px;
  }
  &:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 140px;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  &:active{
    color: azure;
  }
  
  
  &:hover:before{
    filter: blur(20px);
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
  }
  .sessionBorderContainer{

   padding: 0 10px 0 10px;
   margin: auto;
 
   width: 80vw;
  
   display: grid;
   color: #111;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-flow: column;
   align-items: center;
   position: relative;
   z-index: 1;
   background: rgba(255,255,255, 0.4);
   box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  
   border-radius: 5px;
   backdrop-filter: blur(10px) ;
   border-top: 1px solid rgba(255,255,255, 0.5);
  }
  .lessonType{
    text-transform: capitalize;
    display: grid;
    grid-column: 1;
  }
  .lessonDate{
    display: grid;
    grid-column: 2;
  }
  .lessonDesciption{
    text-transform: capitalize;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    grid-column: 3;
    gap:1rem;
    font-size: 1rem;
  }
 
  .sessionJoinButton{
    width: 120px;
    min-width: 100px;
    position: relative;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: black;
      color: whitesmoke;
    }
    &:before{
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: 0px;
      left:-18px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: 152px;
      height: 42px;
      animation: animate 20s linear infinite;
      opacity: 0;
      transition:  1s ease-in-out;
      border-radius: 10px;
    }
    &:after{
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    &:active{
      color: azure;
    }
    
    
    &:hover:before{
      filter: blur(20px);
      opacity: 1;
    
    }
  }
  .sessionLeaveButton{
     
    color:black;
    min-width: 120px;
    position: relative;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    &:hover{
      background-color: black;
      color: whitesmoke;
    }
    &:before{
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: 0px;
      left:-10px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: 152px;
      height: 42px;
      animation: animate 20s linear infinite;
      opacity: 0;
      transition:  1s ease-in-out;
      border-radius: 10px;
    }
    &:after{
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    &:active{
      color: azure;
    }
    
    
    &:hover:before{
      filter: blur(20px);
      opacity: 1;
    
    }
    &:focus-visible::before{
      filter: blur(20px);
      opacity: 1;
    
    }
    @media (max-width:400px){
      font-size: .9em;
    }
  }
  .editButton{
     
    color:black;
    min-width: 120px;
    position: relative;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    &:hover{
      background-color: black;
      color: whitesmoke;
    }
    &:before{
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: 0px;
      left:-10px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: 152px;
      height: 42px;
      animation: animate 20s linear infinite;
      opacity: 0;
      transition:  1s ease-in-out;
      border-radius: 10px;
    }
    &:after{
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    &:active{
      color: azure;
    }
    
    
    &:hover:before{
      filter: blur(20px);
      opacity: 1;
    
    }
    &:focus-visible::before{
      filter: blur(20px);
      opacity: 1;
    
    }
  }
  .gridCollumnTitles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-flow: column;
    margin: auto;
    color:whitesmoke;
    width: 80vw;
    background-blend-mode: multiply;
  }
  @media (max-width:850px ){
    .sessionBorderContainer{
      font-size: .9em;
    }
    .sessionJoinButton{
      font-size: .9em;
      width: 100px;
      height: 30px;
    }
    .sessionTypeTitle{
      font-size: .9em;
    }
    .sessionDateTitle{
      font-size: .9em;
    }
    .sessionDescriptionTitle{
      font-size: .9em;
    }
  }
  @media (max-width:850px ){
    .sessionTypeTitle{
      font-size: .7em;
    }
    .sessionDateTitle{
      font-size: .7em;
    }
    .sessionDescriptionTitle{
      font-size: .7em;
    }
  }
  .userSearchInput{
    margin-top: 25px;
    margin-bottom: 35px;
    width: 185px;
    
    }
    .searchContainer{
      display:flex;
      justify-content: center;
    
    }
    select{
      max-width: 25ch;
    }
    .gridItem{
      display: flex;
     
      margin: auto;
    }
    .searchDropContainer{
      display:grid;
      grid-template-rows: 45px 20px 45px;
      text-align: center;
      align-items: center;
  
      margin: auto;
      position: relative;
      z-index: 1;
      background: rgba(255,255,255, 0.4);
      box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
      width: 15vw;
      border-radius: 5px;
      backdrop-filter: blur(10px) ;
      border-top: 1px solid rgba(255,255,255, 0.5);
        color: black;
    }
    
    .labelClass{
      color: black;
      font-size:1.5rem;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      background: rgba(255,255,255, 0.4);
      box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
      padding: 0 10px 0 10px;
      border-radius: 5px;
      backdrop-filter: blur(10px) ;
      border-top: 1px solid rgba(255,255,255, 0.5);
      
     }
     .userSearchInput{
      display: grid;
     }
.bigSearchContainer{
  gap:1rem;
  display: flex;
  flex-direction: column;
}
@media (max-width:1300px){
  .searchDropContainer{
    width: 25vw;
  }
  .product-rating-stars-media{
    height: 22px;
  }
}
@media (max-width:1115px){
.product-name{
  display:block;
  text-wrap: nowrap;
 
  text-overflow: ellipsis;
  overflow-x: hidden;
  width:170px;
  
 
}
.product-rating-stars-media{
  height: 22px;
}
.product-container{
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
}
@media (max-width:730px){
  .searchDropContainer{
    width: 30vw;
    font-size: .9em;
    gap:.5em;
  }
}
@media (max-width:730px){
  .added-to-cart{
    scale: 3;
    top:5px;
    left:15px
  }

}
@media(max-width:720px){
 .product-desc-container-media{
  margin-bottom: 10px;
 }
 .product-image-media{
  border-radius: 12px;
 }
 
.section-title {

  margin-left: 1.5rem;
}
}
.mobileShopContainer{
  width: 90vw;
  margin: auto;
  height: 900px;
  overflow-y: scroll;
 
}
.mobileShopContainer{
 &::-webkit-scrollbar{
  width: 9px;
  display: none;
 }
 &::-webkit-scrollbar-track{
  background-color: #e4e4e4;
  border-radius: 100px;
 

 }
 &::-webkit-scrollbar-thumb{
  border: 2px solid transparent;
  background-color: hsl(263, 55%, 52%);
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  background-clip: content-box;

 }
 

}
@media (max-width:900px){
  .product-rating-stars-media{
    height: 15px;
  }
  .added-to-cart{
    scale: 0.4;
    top: 1px;
    left: -17px;

  }
}
.mobileShopContainer:hover {
  &::-webkit-scrollbar{
  display: block;
  }
}

.userInfoContainer{

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 80vW;
  height: 75vh;
  margin: auto;
  gap: 1rem;
  justify-content: center;

}

.userEditInfoContainer{

  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vW;
  height: 75vh;
  margin: auto;
  gap: 1rem;

}
.userMainInfoContainer{
  background-color: black;
  margin-top: 35px;
  grid-row-start: 1;
  border-radius: 2vw;
  min-width: 300px;
  max-width: 1000px;
  z-index:1;
  max-height: 1000px;


}
.userEditMainInfoContainer{
  margin-top: 10vh;
  background-color: black;

  border-radius: 2vw;
  min-width: 300px;
  z-index:1;
 
}
.nav-mobile{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  width: 90vw;
  align-items: center;
  flex-wrap: wrap;
}
.sidebar{
  padding: 25px;
  position: relative;
  z-index: 4;

  max-width: 250px;
  align-self: self-start;
  
}
.burgerMenuBtn{
  display: inline;
}
.sidebar-btn{
  outline: none;
  border: none;

  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent    ;
  z-index: 4;
}
.list-item{
  gap:1rem;
  width: 180px;
  padding: 10px 0px 10px 0px;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
.background{
  position: absolute;
  display: flex;
  justify-content: center;
  top: -32px;
  right: -4px;

  height: 500px;
  /* top: 0px;
  right: 11px;
  width: 44vw;
  height: 500px; */
  /* background-image: linear-gradient(62deg, #d2e6fb 0%, #f7eefe 100%);
  box-shadow: -4px 1px 6px rgba(0, 0, 0, 0.2);
  z-index: 3; */
}
.userNameAndAvatarContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

}
.userEditNameAndAvatarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;

}
.editForm{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.reviewContainer{

  width: 50%;
  /* height: 50%; */
}
.reviewEditContainer{

  width: 100%;
  height: 50%;
}
.userMainInfoTitle{
text-align: center;
grid-row-start: 1;
}
.userSessionsTitle{
  text-align: center;
  grid-row-start: 1;
}
.userLessonsContainer{
 background-color: black;
 border-radius: 2vw;
 position: relative;
 min-width: 340px;
 z-index:1;
  @media  (max-width:400px ){
  font-size: .8em;
  padding: 5px 5px 5px 5px;
 }

 
}
.joinedSessionsList{
  margin: 25px;
  position: relative;
  @media  (max-width:400px ){
   margin: 0px 5px 10px 0px;
    padding-left: 20px;
   }
}
@media (max-width:1020px){
  .userInfoContainer{

    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(min(100%,350px), 1fr));
    position: relative;
    width: 80vW;
    margin: auto;
    gap: 1rem;
  
  }
  .userMainInfoContainer{
    min-width: 340px;
    height: 950px;
    width: 100%;
    align-self: center;
  }
}
@media (max-width:400px){
  .userInfoContainer{
    display: table;
  


  
  
  }
  .userMainInfoContainer{
    width: 340px;
    height: 600px;
    overflow-x: scroll;
    margin-bottom: 25px;
    margin-top: 50px;
 
  }
}
.cartCanvas{
  width: 500px;
  height: 500px;
  background-color: white;
  border:1px solid black
}